body {
    background-color: #ECECEC;
    display: flex;
    justify-content: center;
    margin: 0;
}

main {
    width: 100%;
    height: 100%;
    display: block;
}

h1 {
    color: #ffffff;
    font-size: 3.8vw;
    font-weight: normal;
    text-align: center;
    align-self: center;
    justify-self: right;
}

h3 {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    align-self: center;
}

.button {
    background-image: url(../icons/back-button.png);
    background-size: cover;
    width: 42px;
    height: 42px;
    align-self: center;
    justify-self: left;
    margin-left: 3%;
    margin-right: 3%;

}

article {
    width: 60%;
    margin: 0 auto;
    line-height: 2;
    text-align: justify;
    padding: 2%;
}

.fundo {
    width: 100%;
    background-color: #FFFFFF;
}

.citacao {
    background-color: #fcce97;
}

h2 {
    color: #CE7E19;
    font-weight: normal;
    text-align: center;
    font-size: 1.7em;
}

.balao {
    width: 80%;
    margin-left: 7.5%;
}

.rg {
    width: 80%;
    margin-left: 10%;
}

a {
    text-decoration: none;
    color: #032DFC;
}

header {
    width: 80%;
    margin: 0 auto;
    height: 270px;
    display: flex;
    padding: 0.8%;
}

.titulo {
    width: 80%;
    height: 65%;
    background-color: #CE7E19;
    display: flex;
    align-self: center;
    z-index: 1;
}

.imagemHeader {
    width: 250px;
    height: 250px;
    z-index: 0;
    align-self: center;
    margin-left: -3%;
}

footer {
    margin: 0 auto;
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
}

.nav1 {
    width: 50%;
    background-color: #BA3748;
    margin-right: 1%;
    display: flex;
}

.nav2 {
    width: 50%;
    background-color:rgb(31,21,144);
    display: flex;
    margin-right: 0;
}

.arrows {
    height: 60%;
    align-self: center;
    padding-right: 2%;
    padding-left: 2%;
}

.back {
    margin: 0 auto;
}

.foward {
    margin: 0 auto;
}