body {
    background-color: #ECECEC;
    display: flex;
    justify-content: center;
}

main {
    width: 75%;
    height: 100%;
    display: block;
}

h1 {
    color: #C70707;
    font-size: 3.8vw;
    font-weight: normal;
    text-align: center;
    align-self: center;
}

h3 {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    align-self: center;
}

a {
    text-decoration: none;
    width: 200px;
    height: 200px;
    padding-right: 15px;
}

header {
    width: 100%;
    height: 270px;
    display: flex;
}

.titulo {
    width: 80%;
    height: 60%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-self: center;
    z-index: 1;
}

.imagemHeader {
    width: 250px;
    height: 250px;
    z-index: 0;
    align-self: center;
    margin-left: -3%;
}

.menu {
    width: 100%;
    padding-top: 15px;
}

.coluna1, .coluna2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.secao {
    width: 200px;
    height: 200px;
    background-size: contain;
}

.secao#um {
    background-image: url("/img/1.png");
}

.secao#dois {
    background-image: url("/img/2.png");
}

.secao#tres {
    background-image: url("/img/3.png");
    background-size: cover;
}

.secao#quatro {
    background-image: url("/img/4.png");
}

.secao#cinco {
    background-image: url("/img/5.png");
}

.secao#seis {
    background-image: url("/img/6.png");
}

.secao#sete {
    background-image: url("/img/sobre.png");
}

.sombreado {
    width: 200px;
    height: 50px;
    justify-content: center;
    display: flex;
    position: relative;
    top: 150px;
}


.sombreado#um {
    background-color: rgba(3,45,252,.75);
}

.sombreado#dois {
    background-color: rgba(29,185,51,.75);
}

.sombreado#tres {
    background-color: rgba(125,0,148,.75);
}

.sombreado#quatro {
    background-color: rgba(186,55,72,.75);
}

.sombreado#cinco {
    background-color: rgba(50,52,56,.75);
}

.sombreado#seis {
    background-color: rgba(206,126,25,.75);
}

.sombreado#sete {
    background-color: rgba(31,21,144,.75);
}

