.dark-mode, .dark-mode .top{
    background-color: #ededed;
    background-image: radial-gradient(#c1bfbf 0.85px, #ededed 0.85px);
    background-size: 17px 17px;
}

.dark-mode .back {
    background-color: #f7f7f7;
}

.dark-mode .home {
    background-color: none;
}

.dark-mode h1, .dark-mode h2, .dark-mode p, .dark-mode h3, .dark-mode h4{
    color: black;
}

.dark-mode img.link {
    filter: none;
}

.dark-mode nav {
    background-color: #f6f6f6;
    border-color: #e3e3e3;;

}

.dark-mode h3 {
    background-color: #FFC700;
    background-image: radial-gradient(#261d00 0.5px, #FFC700 0.5px);
    background-size: 10px 10px;
}

.dark-mode .parametro {
    filter: none;
}

.dark-mode .card {
    background-color: #f6f6f6;
    background-image: radial-gradient(#e6e6e6 0.85px, #f6f6f6 0.85px);
    background-size: 17px 17px;
}

.dark-mode .card:hover {
    background-color: #ffffff;
    background-image: radial-gradient(#e6e6e6 0.85px, #ffffff 0.85px);
    background-size: 17px 17px;
}

.dark-mode .dark {
    background-color: #f6f6f6;
}

.dark-mode .dark:hover {
    background-color: #ffffff;
}

.dark-mode .lightbulb {
    filter: none;
}

.dark-mode #rangevalue, .dark-mode #rangevalue2 {
    color: black;
}

.dark-mode .click {

    background-color: #FFC700;
    border-color: #d4a600;
    color: #251d00;
    font-weight: 600;
}

.dark-mode .css-input {
    border-color: #000000;
    background-color: #ededed;
    color: #000000;
}

.dark-mode .css-input:focus {
    border-color: #ffc700;
    color: #ffc700;
}

.dark-mode .graf1 div {
    color: black;
}

.dark-mode .click:hover {
    background-color: #f3be00;
    border-color: #b28c00;
}

.dark-mode .input {
    background-color: #efeded;
}

.dark-mode input[type="range"]::-webkit-slider-runnable-track {
    background-color: #ffc700;
}

.dark-mode input[type="range"]::-moz-range-track {
    background-color: #ffc700;
}

.dark-mode input[type="range"]::-webkit-slider-thumb {
    background-color: #000000;
}

.dark-mode input[type="range"]::-moz-range-thumb {
    background-color: #ffffff;
}

.selected1  p#um {
    color: #FFC700;
}

.selected1 img#um {
    filter: invert(81%) sepia(19%) saturate(3112%) hue-rotate(357deg) brightness(99%) contrast(106%);
}

.selected2  p#dois {
    color: #FFC700;
}

.selected2 img#dois {
    filter: invert(81%) sepia(19%) saturate(3112%) hue-rotate(357deg) brightness(99%) contrast(106%);
}

.selected3  p#tres {
    color: #FFC700;
}

.selected3 img#tres {
    filter: invert(81%) sepia(19%) saturate(3112%) hue-rotate(357deg) brightness(99%) contrast(106%);
}