@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background-color: #0E1118;
    background-image: radial-gradient(#353549 0.85px, #0E1118 0.85px);
    background-size: 17px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family: 'Montserrat', sans-serif;
}

main {
    max-width: 60%;
}

.dark-mode {
    background-color: white;
    color: black;
  }

.dark {
    position: fixed;
    top: 1.5%;
    right: 0.5%;
    width: 40px;
    height: 40px;
    background-color: #181F2F;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #e3e3e3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark:hover {
    border-color: #FFC700;
    border-width: 2px;
}

.lightbulb {
    filter: invert(99%) sepia(0%) saturate(234%) hue-rotate(31deg) brightness(115%) contrast(78%);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.backfoward {
    filter: invert(81%) sepia(19%) saturate(3112%) hue-rotate(357deg) brightness(99%) contrast(106%);
    transform: rotate(180deg);
    margin-top: 15%;
}

h1 {
    margin-left: 2%;
    font-size: 10vh;
    text-align: center;
    color: white;
    font-weight: normal;
}

h2 {
    text-align: left;
    padding-left: 10%;
    color: white;
    font-weight: normal;
}

p {
    text-align: center;
    color: white;
    font-weight: normal;
}

p.sobre {
    text-align: justify;
}

@media (max-width: 480px) {
    body {
        align-items: normal;
    }

    main {
        max-width: 90%;
        margin-bottom: 5%;
    }
}