@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    margin: 0 0 0 0;
    background-color: #181F2F;
    background-image: radial-gradient(#49495f 0.85px, #181F2F 0.85px);
    background-size: 17px 17px;
    height: 90vh;
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #0E1118;
}

article {
    max-width: 1300px;
    width: 50%;
}

nav {
    height: 40px;
    width: 50%;
    background-color: #181F2F;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #e3e3e3;
    position: fixed;
    z-index: 2;
    top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
     
}

a.link {
    padding-left: 6px;
    padding-right: 6px;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.link {
    padding-right: 4px;
    width: 20px;
    height: 20px;
    filter: invert(99%) sepia(0%) saturate(234%) hue-rotate(31deg) brightness(115%) contrast(78%);
}

p.link {
    text-align: center;
}

.icon {
    filter: invert(81%) sepia(19%) saturate(3112%) hue-rotate(357deg) brightness(99%) contrast(106%);
    margin-right: 1%;
}

.top {
    position: fixed;
    top: 0%;
    z-index: 1;
    height: 7.5%;
    width: 100%;
    background-color: #181F2F;
    background-image: radial-gradient(#49495f 0.85px, #181F2F 0.85px);
    background-size: 17px 17px;
}

.dark {
    position: fixed;
    z-index: 2;
    top: 1%;
    right: 0.5%;
    width: 40px;
    height: 40px;
    background-color: #181F2F;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #e3e3e3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark:hover {
    border-color: #FFC700;
    border-width: 2px;
}

.lightbulb {
    filter: invert(99%) sepia(0%) saturate(234%) hue-rotate(31deg) brightness(115%) contrast(78%);
}

h1 {
    font-size: 10vh;
    text-align: center;
    color: white;
    font-weight: normal;
    margin-top: 7%;
}

h2 {
    text-align: left;
    padding-left: 10%;
    color: white;
    font-weight: normal;
}

h3 {
    text-align: left;
    color: white;
    background-color: #e4b301;
    background-image: radial-gradient(#261d00 0.5px, #e4b301 0.5px);
    border-radius: 6px;
    background-size: 10px 10px;
    padding: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
}

h4 {
    text-align: justify;
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: x-large;
}

p {
    text-align: justify;
    color: white;
    font-family: Roboto;
    font-weight: 400;
    line-height: 4vh;
}

.parametro {
    margin-left: 20%;
    width: 50%;
    filter: invert(100%) sepia(0%) saturate(7460%) hue-rotate(125deg) brightness(111%) contrast(110%);

}

.graf1 {
    width: 100%;
}

.graf1 div {
    width: 100%;
    color: white;
    font-family: Roboto;
    text-align: justify;
    font-weight: 400;
}

.graf1 img {
    width: 100%;
}

p.foot {
    text-align: center;
    color: white;
    font-weight: normal;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

strong {
    color: #FFC700;
    font-weight: normal;
}

.foot {
    display: flex;
    justify-content: center;
}

.foot:hover {
    color: #FFC700;
}

footer {
    margin-top: 0.5%;
    margin-bottom: 1%;
}

div.value {
    width: 100%;
    display: flex;
    align-items: center;
}

.input {
    background-color: #1c2438;
    border-radius: 5px;
    padding: 0.1% 2% 2% 2%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.css-input {
    width: 97%;
    padding: 9px;
    font-size: 16px;
    border-width: 2px;
    border-color: #FFFFFF;
    background-color: #181F2F;
    color: #FFFFFF;
    border-style: solid;
    border-radius: 6px;
}

.css-input:focus {
    border-color: #e4b301;
    color: #e4b301;
    outline:none;
}

.inicial {
    width: 45%;
    text-align: left;
}



#rangevalue, #rangevalue2, #rangevalue3 {
    width: 10%;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    color: #e4b301;
    font-weight: bold;
}

.click {
    appearance: none;
    height: 40px;
    background-color: #181F2F;
    border-style: solid;
    border-radius: 6px;
    border-width: 2px;
    border-color: #e3e3e3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 400;
}

.click:hover {
    color: #FFC700;
    border-color: #FFC700;
}

.final {
    width: 45%;
    text-align: right;
}

/* INPUT */

/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: transparent;
    cursor: pointer;
    width: 25rem;
  }
  
  /* Removes default focus */
input[type="range"]:focus {
    outline: none;
  }
  
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: #e4b301;
    border-radius: 0.5rem;
    border: none;
    height: 0.5rem;
  }
  
  /* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4px; /* Centers thumb on the track */
    background-color: #ffffff;
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }

  
  /*********** Firefox styles ***********/
  /* slider track */
input[type="range"]::-moz-range-track {
    background-color: #e4b301;
    border-radius: 0.5rem;
    height: 0.5rem;
  }
  
  /* slider thumb */
input[type="range"]::-moz-range-thumb {
    background-color: #ffffff;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }

/* outros dispositivos */

@media (max-width: 1024px) {

    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }

    main {
        width: 100%;
    }
    
    article {
        width: 100%;
    }

    h1 {
        margin-top: 10vh;
        font-size: 5vh;
    }

    nav {
        width: 86%;
        left: 1%;
        top: 0.5%;
        height: 4.8vh;
    }

    .top {
        height: 6vh;
    }

    .dark {
        right: 1%;
        top: 0.5%;
        width: 5vh;
        height: 5vh;
    }

    p.link {
        line-height: 1.8vh;
        font-size: small;
    }

    h3, h4, p {
        padding-left: 5%;
        padding-right: 5%;
    }

    h3, .input, .graf1 {
        margin-left: 5%;
        margin-right: 5%;
    }

    .graf1 {
        width: 90%;
    }

    .css-input {
        width: 93%;
    }
}

@media (max-width: 480px) {
    .parametro {
        margin-left: 0%;
        width: 100%;
    }
}